#Simula demora nas consultas de BD
SIMULATE_WAIT_IN_MS=0

#Tamanho máximo para upload de imagens em bytes
NEXT_PUBLIC_IMAGE_UPLOAD_MAX_SIZE=921600
# Nome da pasta onde as imagens são salvas apos upload
IMAGE_UPLOAD_DIRECTORY=uploads
# URL completa do servidor de imagem sem barra final
IMAGE_SERVER_URL='http://localhost:3000/uploads';

# Chave usada para assinar os tokens JWT
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar uma Secret Key segura
JWT_SECRET_KEY = 'sua_chave_secreta_aqui'

# tempo de expiração do token JWT em segundos 
# (ex: 3600 para 1 hora, 600 -> 10m, 60 -> 1m, 86400 -> 1dia)
LOGIN_EXPIRATION_SECONDS = 86400
LOGIN_EXPIRATION_STRING='id'

#Nome do cookie usado para login
LOGIN_COOKIE_NAME = 'loginSession'

# Nome do seu usuário para logar no site em /admin/login
LOGIN_USER='SEU_USUARIO_AQUI'
# Use o arquivo src/utils/generate-hashed-password.ts (npx tsx) para gerar o seu hash de senha
LOGIN_PASS='SEU_HASH_DE_SENHA_AQUI'

# Permite ou não login (0 = Não, 1 = Sim)
ALLOW_LOGIN = 1